In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
def load_data(file_path):
    return pd.read_csv(file_path)
df = load_data('./dataset.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [11]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(df, test_size=0.2, random_state=47)

In [12]:
train_set.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
12187,-117.31,33.67,9.0,981.0,169.0,596.0,156.0,3.1832,157400.0,<1H OCEAN
14692,-117.11,32.79,16.0,2574.0,771.0,1129.0,721.0,3.3849,96900.0,NEAR OCEAN
11958,-117.40,33.90,32.0,1263.0,178.0,508.0,180.0,3.6667,314100.0,INLAND
813,-122.03,37.61,36.0,1409.0,271.0,1002.0,281.0,3.7262,164900.0,NEAR BAY
17567,-121.91,37.31,16.0,2962.0,898.0,1555.0,795.0,2.5804,216300.0,<1H OCEAN
14838,-117.10,32.68,49.0,1412.0,350.0,1200.0,332.0,2.0398,93600.0,NEAR OCEAN
968,-121.88,37.67,25.0,2244.0,301.0,937.0,324.0,6.4524,296900.0,INLAND
1179,-121.54,39.48,29.0,2896.0,596.0,1809.0,617.0,1.8047,53800.0,INLAND
2281,-119.79,36.79,19.0,1524.0,448.0,960.0,386.0,1.5122,47500.0,INLAND
16425,-121.47,38.13,13.0,3192.0,715.0,1768.0,626.0,2.2619,123500.0,INLAND

In [15]:
test_set.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
10486,-117.68,33.48,15.0,1786.0,299.0,727.0,293.0,5.0527,231400.0,<1H OCEAN
16251,-121.26,37.96,43.0,527.0,133.0,367.0,152.0,2.5000,63600.0,INLAND
8883,-118.50,34.03,52.0,1506.0,208.0,547.0,186.0,7.8705,500001.0,<1H OCEAN
15209,-117.08,33.01,5.0,5659.0,931.0,2565.0,902.0,6.1949,238700.0,<1H OCEAN
11965,-117.42,34.02,9.0,5455.0,882.0,3015.0,858.0,4.2321,162800.0,INLAND
5865,-118.34,34.18,46.0,1393.0,301.0,714.0,295.0,2.8125,229900.0,<1H OCEAN
7407,-118.22,33.96,36.0,1542.0,458.0,1711.0,468.0,1.9028,164200.0,<1H OCEAN
1379,-122.07,38.00,37.0,978.0,202.0,462.0,184.0,3.6250,156300.0,NEAR BAY
14571,-117.21,32.81,33.0,4773.0,873.0,1954.0,845.0,4.3862,184800.0,NEAR OCEAN
434,-122.29,37.88,52.0,1650.0,395.0,841.0,380.0,3.5560,179300.0,NEAR BAY

In [17]:
from sklearn.model_selection import StratifiedShuffleSplit