# Welcome to Pandas

<img 
src="">

### Installing `Pandas` in your computer

In [ ]:
!pip install pandas
# Or write just "pip install pandas" on terminal

In [2]:
import pandas as pd

### Pandas Series

In [7]:
ob = pd.Series([1, 8, -4, 6])
ob

0    1
1    8
2   -4
3    6
dtype: int64

### Indexs

In [13]:
index = ob.index
index

RangeIndex(start=0, stop=4, step=1)

In [21]:
obj = pd.Series([4, 5, 8, -9], index=['s', 'd', 'g', 'y'])
obj

s    4
d    5
g    8
y   -9
dtype: int64

In [15]:
obj.index

Index(['s', 'd', 'g', 'y'], dtype='object')

#### We can access to single values in Series like Numpy array using labels

In [16]:
obj['d']

5

In [17]:
obj['s'] = 10

In [18]:
obj[['s', 'd', 'y']]

s    10
d     5
y    -9
dtype: int64

#### We use Numpy functions ar Numpy operations for filtering with boolean array, scalar multiplication, or applying math functions

In [20]:
obj[obj > 0]

s    10
d     5
g     8
dtype: int64

In [21]:
obj * 2

s    20
d    10
g    16
y   -18
dtype: int64

In [22]:
import numpy as np

np.abs(obj)

s    4
d    5
g    8
y    9
dtype: int64

In [25]:
's' in obj

True

In [26]:
'l' in obj

False

#### We have data contained in a Python dict, we can easily create a Series from it by passing the dict:

In [7]:
data = {'Tajikistan': 10_250_000,
        'Uzbekistan': 35_450_000,
        'Kazakhstan': 19_730_000,
        'Turkmenistan': 6_000_000,
        'Kirgyztan': 7_000_000
    }
obj2 = pd.Series(data)
obj2

Tajikistan      10250000
Uzbekistan      35450000
Kazakhstan      19730000
Turkmenistan     6000000
Kirgyztan        7000000
dtype: int64

In [17]:
countries = ['Tajikistan', 'Uzbekistan', 'Turkmenistan', 'Kirgyztan', 'Russia']

obj3 = pd.Series(data, index=countries)
obj3

Tajikistan      10250000.0
Uzbekistan      35450000.0
Turkmenistan     6000000.0
Kirgyztan        7000000.0
Russia                 NaN
dtype: float64

#### Here, 5 values found in data where were number of populations, but there no vallue for 'Russia' was found, it will take NaN (not number), which considered in pandas to mark missing values

#### We can use isnull and notnull functions to detect missing data

In [18]:
pd.isnull(obj3)

Tajikistan      False
Uzbekistan      False
Turkmenistan    False
Kirgyztan       False
Russia           True
dtype: bool

In [19]:
pd.notnull(obj3)

Tajikistan       True
Uzbekistan       True
Turkmenistan     True
Kirgyztan        True
Russia          False
dtype: bool

In [20]:
obj3.isnull()

Tajikistan      False
Uzbekistan      False
Turkmenistan    False
Kirgyztan       False
Russia           True
dtype: bool

#### Usefull fitures of Series

In [22]:
obj2

Tajikistan      10250000
Uzbekistan      35450000
Kazakhstan      19730000
Turkmenistan     6000000
Kirgyztan        7000000
dtype: int64

In [23]:
obj3

Tajikistan      10250000.0
Uzbekistan      35450000.0
Turkmenistan     6000000.0
Kirgyztan        7000000.0
Russia                 NaN
dtype: float64

In [24]:
obj2 + obj3

Kazakhstan             NaN
Kirgyztan       14000000.0
Russia                 NaN
Tajikistan      20500000.0
Turkmenistan    12000000.0
Uzbekistan      70900000.0
dtype: float64

#### Both Series object itself and its index have a name attribute, which integrates with other key areas of pandas functionally:

In [28]:
obj3.name = 'Populations'
obj3.index.name = 'Country name'
obj3

Country name
Tajikistan      10250000.0
Uzbekistan      35450000.0
Turkmenistan     6000000.0
Kirgyztan        7000000.0
Russia                 NaN
Name: Populations, dtype: float64

#### A Series's index can be altered in-place by assignment:

In [29]:
obj

s    4
d    5
g    8
y   -9
dtype: int64

In [30]:
obj.index = ['John', 'Peter', 'Kevin', 'Alan']
obj

John     4
Peter    5
Kevin    8
Alan    -9
dtype: int64

## DataFrame
### A DataFrame represents a rectangular table of data and contains an ordered collec‐
### tion of columns, each of which can be a different value type (numeric, string,
### boolean, etc.).

In [6]:
data = {'Country': ['Tajikistan', 'Uzbekistan', 'Turkmenistan', 'Kirgyztan', 'Kirgyztan', 'U.S.A'],
        'Population': [10_250_000, 35_450_000, 19_730_000, 6_000_000, 7_000_000, 332_000_000],
        'Location': ['Asia', 'Asia', 'Asia', 'Asia', 'Europe', 'North America']}

df = pd.DataFrame(data)
df

        Country  Population       Location
0    Tajikistan    10250000           Asia
1    Uzbekistan    35450000           Asia
2  Turkmenistan    19730000           Asia
3     Kirgyztan     6000000           Asia
4     Kirgyztan     7000000         Europe
5         U.S.A   332000000  North America

### For large DataFrames, the head method selects only the first five rows:

In [7]:
df.head()

        Country  Population Location
0    Tajikistan    10250000     Asia
1    Uzbekistan    35450000     Asia
2  Turkmenistan    19730000     Asia
3     Kirgyztan     6000000     Asia
4     Kirgyztan     7000000   Europe

In [12]:
pd.DataFrame(data, columns=['Population', 'Location', 'Country'])

   Population       Location       Country
0    10250000           Asia    Tajikistan
1    35450000           Asia    Uzbekistan
2    19730000           Asia  Turkmenistan
3     6000000           Asia     Kirgyztan
4     7000000         Europe     Kirgyztan
5   332000000  North America         U.S.A

In [30]:
df2 = pd.DataFrame(data, columns=['Population', 'Location', 'Country', 'Ranking'], 
                   index=['one', 'two', 'three', 'four', 'five', 'six'])
df2

       Population       Location       Country Ranking
one      10250000           Asia    Tajikistan     NaN
two      35450000           Asia    Uzbekistan     NaN
three    19730000           Asia  Turkmenistan     NaN
four      6000000           Asia     Kirgyztan     NaN
five      7000000         Europe     Kirgyztan     NaN
six     332000000  North America         U.S.A     NaN

In [31]:
df2.columns

Index(['Population', 'Location', 'Country', 'Ranking'], dtype='object')

#### When access to DataFrame's column by dict-like notation or by attribute it returns a Series

In [32]:
df2['Country']

one        Tajikistan
two        Uzbekistan
three    Turkmenistan
four        Kirgyztan
five        Kirgyztan
six             U.S.A
Name: Country, dtype: object

In [33]:
df2.Location

one               Asia
two               Asia
three             Asia
four              Asia
five            Europe
six      North America
Name: Location, dtype: object

#### Rows can also be retrived by position or name with the special loc attribute

In [34]:
df2.loc['three']

Population        19730000
Location              Asia
Country       Turkmenistan
Ranking                NaN
Name: three, dtype: object

#### We can change the scalar value or an array of values

In [35]:
df2['Ranking'] = 1
df2

       Population       Location       Country  Ranking
one      10250000           Asia    Tajikistan        1
two      35450000           Asia    Uzbekistan        1
three    19730000           Asia  Turkmenistan        1
four      6000000           Asia     Kirgyztan        1
five      7000000         Europe     Kirgyztan        1
six     332000000  North America         U.S.A        1

In [36]:
df2.Ranking = np.arange(1, 7)
df2

       Population       Location       Country  Ranking
one      10250000           Asia    Tajikistan        1
two      35450000           Asia    Uzbekistan        2
three    19730000           Asia  Turkmenistan        3
four      6000000           Asia     Kirgyztan        4
five      7000000         Europe     Kirgyztan        5
six     332000000  North America         U.S.A        6

In [37]:
values = pd.Series([8, 15, 78, 1], index=['two', 'six', 'five', 'one'])

df2.Ranking = values
df2

       Population       Location       Country  Ranking
one      10250000           Asia    Tajikistan      1.0
two      35450000           Asia    Uzbekistan      8.0
three    19730000           Asia  Turkmenistan      NaN
four      6000000           Asia     Kirgyztan      NaN
five      7000000         Europe     Kirgyztan     78.0
six     332000000  North America         U.S.A     15.0

In [38]:
df2['Asian'] = df2.Location == 'Asia'
df2

       Population       Location       Country  Ranking  Asian
one      10250000           Asia    Tajikistan      1.0   True
two      35450000           Asia    Uzbekistan      8.0   True
three    19730000           Asia  Turkmenistan      NaN   True
four      6000000           Asia     Kirgyztan      NaN   True
five      7000000         Europe     Kirgyztan     78.0  False
six     332000000  North America         U.S.A     15.0  False

### The `del` method used to remove this column:

In [39]:
del df2['Asian']
df2.columns

Index(['Population', 'Location', 'Country', 'Ranking'], dtype='object')

In [44]:
pop = {'Tajikistan': {2001: 2.4, 2002: 2.9},
        'Uzbekistan': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
df3 = pd.DataFrame(pop)
df3

      Tajikistan  Uzbekistan
2001         2.4         1.7
2002         2.9         3.6
2000         NaN         1.5

#### We can transpose the DataFrame (swap rows and columns) with similar syntax to a Numpy

In [45]:
df3.T

            2001  2002  2000
Tajikistan   2.4   2.9   NaN
Uzbekistan   1.7   3.6   1.5

#### We can use Series to create new DataFrame

In [46]:
data = {'Tajikistan': df3['Tajikistan'][:-1],
        'Uzbekistan': df3['Uzbekistan'][:-1]}
pd.DataFrame(data)

      Tajikistan  Uzbekistan
2001         2.4         1.7
2002         2.9         3.6

In [55]:
df3.index.name = 'year' 
df3.columns.name = 'Countries'

In [56]:
df3

Countries  Tajikistan  Uzbekistan
year
2001              2.4         1.7
2002              2.9         3.6
2000              NaN         1.5

In [57]:
df3.values

array([[2.4, 1.7],
       [2.9, 3.6],
       [nan, 1.5]])

### There are some methods of Pandas Index

In [88]:
idx1 = pd.Index([2, 8, 6, 9, 8])
idx2 = pd.Index([1, 5, 6, 2])
print(idx1)
idx2

Index([2, 8, 6, 9, 8], dtype='int64')

Index([1, 5, 6, 2], dtype='int64')

In [89]:
idx1.difference(idx2) # -> returns the difference of value from second Index

Index([8, 9], dtype='int64')

In [90]:
idx1.append(idx2) # -> adds value or values at the end of Index

Index([2, 8, 6, 9, 8, 1, 5, 6, 2], dtype='int64')

In [91]:
idx1.intersection(idx2) # -> returns the general values

Index([2, 6], dtype='int64')

In [92]:
idx1.union(idx2) # -> returns non general values

Index([1, 2, 5, 6, 8, 8, 9], dtype='int64')

In [93]:
idx1.isin(idx2) # -> checks the given values in another index and returns bool

array([ True, False,  True, False, False])

In [94]:
idx1.delete(1) # -> removes item by its index

Index([2, 6, 9, 8], dtype='int64')

In [95]:
idx2.drop(6) # -> removes item in Index by value

Index([1, 5, 2], dtype='int64')

In [96]:
idx1.insert(2, 18) # -> adds value with index

Index([2, 8, 18, 6, 9, 8], dtype='int64')

In [97]:
idx1.is_unique # -> checks values for uniqueness and returns bool

False

In [99]:
idx1.unique() # -> returns unique version of Index

Index([2, 8, 6, 9], dtype='int64')