# Welcome to Pandas

<img 
src="">

### Installing `Pandas` in your computer

In [ ]:
!pip install pandas
# Or write just "pip install pandas" on terminal

In [25]:
import pandas as pd

### Pandas Series

In [7]:
ob = pd.Series([1, 8, -4, 6])
ob

0    1
1    8
2   -4
3    6
dtype: int64

### Indexs

In [13]:
index = ob.index
index

RangeIndex(start=0, stop=4, step=1)

In [3]:
obj = pd.Series([4, 5, 8, -9], index=['s', 'd', 'g', 'y'])
obj

s    4
d    5
g    8
y   -9
dtype: int64

In [15]:
obj.index

Index(['s', 'd', 'g', 'y'], dtype='object')

#### We can access to single values in Series like Numpy array using labels

In [16]:
obj['d']

5

In [17]:
obj['s'] = 10

In [18]:
obj[['s', 'd', 'y']]

s    10
d     5
y    -9
dtype: int64

#### We use Numpy functions ar Numpy operations for filtering with boolean array, scalar multiplication, or applying math functions

In [20]:
obj[obj > 0]

s    10
d     5
g     8
dtype: int64

In [21]:
obj * 2

s    20
d    10
g    16
y   -18
dtype: int64

In [4]:
import numpy as np

np.abs(obj)

s    4
d    5
g    8
y    9
dtype: int64

In [25]:
's' in obj

True

In [26]:
'l' in obj

False

#### We have data contained in a Python dict, we can easily create a Series from it by passing the dict:

In [7]:
data = {'Tajikistan': 10_250_000,
        'Uzbekistan': 35_450_000,
        'Kazakhstan': 19_730_000,
        'Turkmenistan': 6_000_000,
        'Kirgyztan': 7_000_000
    }
obj2 = pd.Series(data)
obj2

Tajikistan      10250000
Uzbekistan      35450000
Kazakhstan      19730000
Turkmenistan     6000000
Kirgyztan        7000000
dtype: int64

In [17]:
countries = ['Tajikistan', 'Uzbekistan', 'Turkmenistan', 'Kirgyztan', 'Russia']

obj3 = pd.Series(data, index=countries)
obj3

Tajikistan      10250000.0
Uzbekistan      35450000.0
Turkmenistan     6000000.0
Kirgyztan        7000000.0
Russia                 NaN
dtype: float64

#### Here, 5 values found in data where were number of populations, but there no vallue for 'Russia' was found, it will take NaN (not number), which considered in pandas to mark missing values

#### We can use isnull and notnull functions to detect missing data

In [18]:
pd.isnull(obj3)

Tajikistan      False
Uzbekistan      False
Turkmenistan    False
Kirgyztan       False
Russia           True
dtype: bool

In [19]:
pd.notnull(obj3)

Tajikistan       True
Uzbekistan       True
Turkmenistan     True
Kirgyztan        True
Russia          False
dtype: bool

In [20]:
obj3.isnull()

Tajikistan      False
Uzbekistan      False
Turkmenistan    False
Kirgyztan       False
Russia           True
dtype: bool

#### Usefull fitures of Series

In [22]:
obj2

Tajikistan      10250000
Uzbekistan      35450000
Kazakhstan      19730000
Turkmenistan     6000000
Kirgyztan        7000000
dtype: int64

In [23]:
obj3

Tajikistan      10250000.0
Uzbekistan      35450000.0
Turkmenistan     6000000.0
Kirgyztan        7000000.0
Russia                 NaN
dtype: float64

In [24]:
obj2 + obj3

Kazakhstan             NaN
Kirgyztan       14000000.0
Russia                 NaN
Tajikistan      20500000.0
Turkmenistan    12000000.0
Uzbekistan      70900000.0
dtype: float64

#### Both Series object itself and its index have a name attribute, which integrates with other key areas of pandas functionally:

In [28]:
obj3.name = 'Populations'
obj3.index.name = 'Country name'
obj3

Country name
Tajikistan      10250000.0
Uzbekistan      35450000.0
Turkmenistan     6000000.0
Kirgyztan        7000000.0
Russia                 NaN
Name: Populations, dtype: float64

#### A Series's index can be altered in-place by assignment:

In [29]:
obj

s    4
d    5
g    8
y   -9
dtype: int64

In [30]:
obj.index = ['John', 'Peter', 'Kevin', 'Alan']
obj

John     4
Peter    5
Kevin    8
Alan    -9
dtype: int64